
<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>

<!-- <script src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<script type="text/javascript" src="/assets/lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/assets/lib/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.actual.min.js"></script>
<script type="text/javascript" src="/assets/js/theme-script.js"></script>
<script type="text/javascript" src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/custom.js"></script>


<script type="text/javascript" src="/assets/lib/jquery.elevatezoom.js"></script>





<!-- Script-->
