
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VI.AliExpress.com</title>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/option2.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />

    <script type="text/javascript">
         <!--
            function Redirect() {
               window.location="http://localhost:3000/signup";
            }
         //-->
      </script>

      <script type="text/javascript">
        <!--
           function About() {
              window.location="http://localhost:3000/about";
           }
        //-->
     </script>

  </head>

  <body class="home option2">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <% include ./partials/navbar %>

      <%- body -%>

    <% include ./partials/footer %>

    <% include ./partials/javascriptOnly %>
  </body>
</html>
