<% layout('layout') -%>

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Trang chủ</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Liên hệ</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Liên Hệ Với Chúng Tôi</span>
        </h2>
        <!-- ../page heading-->
        <div id="contact" class="page-content page-contact">
            <div id="message-box-conact"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-subheading">Thông tin khách hàng</h3>
                    <div class="contact-form-box">
                        <div class="form-selector">
                            <label>Hình thức</label>
                            <select class="form-control input-sm" id="subject">
                                <option value="Customer service">Customer service</option>
                                <option value="Webmaster">Webmaster</option>
                            </select>
                        </div>
                        <div class="form-selector">
                            <label>Email</label>
                            <input type="text" class="form-control input-sm" id="email" />
                        </div>
                        <div class="form-selector">
                            <label>Tên Khách Hàng</label>
                            <input type="text" class="form-control input-sm" id="order_reference" />
                        </div>
                        <div class="form-selector">
                            <label>Nội Dung</label>
                            <textarea class="form-control input-sm" rows="10" id="message"></textarea>
                        </div>
                        <div class="form-selector">
                            <button id="btn-send-contact" class="btn">Gửi</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" id="contact_form_map">
                    <h3 class="page-subheading">Thông tin</h3>
                    <p>Chuyên cung cấp các sản phẩm giá rẻ và chất lượng cho người dùng. Đảm bảo các dịch vụ bảo hành và hoàn trả. Tiêu chí bán hàng với khách hàng:</p>
                    <br/>
                    <ul>
                        <li>Nhanh chóng đến tay người mua.</li>
                        <li>Đảm bảo các dịch vụ bảo hành và hoàn trả.</li>
                        <li>Luôn đáp ứng các yêu cầu từ khách hàng.</li>
                    </ul>
                    <br/>
                    <ul class="store_info">
                        <li><i class="fa fa-home"></i>Hãy đến 371G Nguyễn Chí Thanh-Phường 6- Quận 5-Tp.HCM</li>
                        <li><i class="fa fa-phone"></i><span>+ 096.353.2421</span></li>
                        <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:%73%75%70%70%6f%72%74@%6b%75%74%65%74%68%65%6d%65.%63%6f%6d">support@aimuatoiban.com</a></span></li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
